<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
         bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="E4u Application Test Suite">
            <directory>./src/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="testdox-html" target="../logs/tests.html"/>
        <log type="testdox-text" target="../logs/tests.txt"/>
    </logging>
</phpunit>