<?php
/** @var \Main\View\Base $this */
/** @var \Main\Model\Player\Event\GameOver $event */
$event = $this->event;
?>
<div class="card">
    <?= $this->image('//lurkmore.so/images/3/3d/Restinpeaceripgraveyard.jpg', $event->getName(), [ 'style' => 'width: 100%', 'class' => 'card-img-top' ])?>
    <div class="card-body alert-danger">

        <h2 class="card-title"><?= $this->t($event->getName()) ?></h2>
        <p class="lead"><?= $this->t($event->getDescription()) ?></p>
        <?= $this->linkTo('Zacznij od początku', '/games/reset', [ 'class' => 'btn btn-primary', ]) ?>

    </div>
</div>