<?php
/** @var \Main\View\Base $this */
/** @var \Main\Model\Game $game */
$game = $this->game;
?>

<h3><?= $this->t('Lista graczy (%d / %d)', count($game->getPlayers()), $game->getMaxPlayers()) ?></h3>
<table class="table">
    <?php foreach ($game->getPlayers() as $i => $player): ?>
    <?php $user = $player->getUser(); ?>
        <tr>
            <th style="width: 30px; vertical-align: middle" scope="row"><?= $i+1 ?>.</th>
            <td style="width: 42px"><?= $this->_('avatar', $user, 32) ?></td>
            <td style="width: 200px; vertical-align: middle"><?= $this->linkTo($user->getName(), $user) ?></td>
            <td style="width: 20%; vertical-align: middle" class="small">
                <?php if ($game->getCurrentStatus() == \Main\Model\Game::STATUS_WAITING): ?>

                    <?php if ($user === $this->getCurrentUser()): ?>
                    <?= $this->linkTo($this->t('Opuść rozgrywkę'), 'games/quit/' . $game->id(), [ 'class' => 'flaticon-delete text-danger' ]) ?>
                    <?php endif; ?>

                <?php else: ?>

                    <?= $player->getCurrentPhase() ? $this->t('player.phase.' . $player->getCurrentPhase()) : '' ?>

                <?php endif; ?>
            </td>
            <td>

            </td>
        </tr>
    <?php endforeach; ?>
</table>