<?php
/** @var \Main\View\Base $this */
/** @var \Main\Model\Game $game */
$game = $this->game;
?>
<h1>
    <?= '#' . $game->id() . ': ' . $game->getName() ?>
    <small class="text-muted"><?= $this->t('game.status.' . $game->getCurrentStatus(), $game->getCurrentTurn()) ?></small>
</h1>

<?= $this->render('games/_players') ?>

<?php if (!$game->isPlayer($this->getCurrentUser())): ?>
    <?= $this->linkTo($this->t('Dołącz do rozgrywki'), 'games/join/' . $game->id(), [ 'class' => 'btn btn-primary flaticon-add' ]) ?>
<?php endif; ?>

<?php if ($game->isPlayer($this->getCurrentUser())): ?>
    <?= $this->linkTo($this->t('Rozpocznij rozgrywkę'), 'games/start/' . $game->id(), [ 'class' => 'btn btn-success flaticon-play float-xs-right' ]) ?>
<?php endif; ?>
