<? if ($flash = $this->getFlash()): ?>
    <div id="flash">

        <? if (!empty($flash['success'])): ?>
            <div class="alert alert-success alert-dismissible flaticon-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Zamknij powiadomienie"><span aria-hidden="true">&times;</span></button>
                <?= join('<br />', $flash['success']) ?>
            </div>
        <? endif; ?>

        <? if (!empty($flash['error'])): ?>
            <div class="alert alert-danger alert-dismissible flaticon-warning" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Zamknij powiadomienie"><span aria-hidden="true">&times;</span></button>
                <?= join('<br />', $flash['error']) ?>
            </div>
        <? endif; ?>

        <? if (!empty($flash['message'])): ?>
            <div class="alert alert-info alert-dismissible flaticon-info" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Zamknij powiadomienie"><span aria-hidden="true">&times;</span></button>
                <?= join('<br />', $flash['message']) ?>
            </div>
        <? endif; ?>

    </div>
<? endif; ?>