<?= $this->_('doctype') ?>
<html lang="<?= $this->getLocale() ?>">
<head>
    <?= $this->render('layout/_shared') ?>
    <?= $this->stylesheets([ 'game', ]) ?>
</head>

<body class="layout-game" id="<?= $this->controllerID() ?>"
      itemscope itemtype="http://schema.org/WebPage">

<?= $this->render('layout/_navbar') ?>
<div class="container" style="margin-top: 1rem; margin-bottom: 1rem;">

    <div class="row">
        <main class="col-lg-8" id="content">
            <?= $this->render('layout/_flash') ?>
            <?= $this->getPartial('content') ?>
        </main>
        <aside class="col-lg-4 hidden-md-down" id="sidebar">
            <?= $this->render('play/_event') ?>
        </aside>
    </div>

</div>
<?= $this->render('layout/_lightbox') ?>

</body>
</html>