<?php
/** @var \Main\View\Base $this */
/** @var \Main\Model\Game $game */
$game = $this->game;

/** @var \Main\Model\Player $player */
$player = $this->player;

/** @var \Main\Model\Player\Event $event */
$event = $this->event;
$result = $event->getResult();
?>
<div class="jumbotron m-b-2" style="padding: 2em;">


    <h2 class="display-4"><?= $this->t($event->getName()) ?></h2>
    <p class="lead"><?= $this->t($event->getDescription()) ?></p>
    <hr class="m-y-2">

    <?php if (count($result) > 0): ?>

        <h4>Wynik wydarzenia:</h4>
        <ul>
        <?php foreach ($result as $class => $amount): ?>
        <?php $asset = $player->getAssetByClass($class); ?>
        <li><?= sprintf('%s: %+d', $this->t($asset->getName()), $amount) ?></li>
        <?php endforeach; ?>
        </ul>

    <?php endif; ?>

    <p><?= $this->image($event->getImage(), $event->getName(), [ 'style' => 'width: 100%' ])?></p>
    <?= $this->linkTo('Przejdź do fazy akcji', 'game/' . $game->id() . '?continue=true', [ 'class' => 'btn btn-primary btn-lg', ]) ?>
</div>
