<div class="card-group">
    <div class="card">

        <div class="card-block">
            <h2 class="card-title">Ups, nie znaleziono...</h2>
            <p class="card-text">To, czego szukasz, najwyraźniej nie istnieje.</p>

            <h3 class="card-title">Co możesz zrobić?</h3>
            <ul>
                <li>przejdź na <?= $this->linkTo('stronę główną serwisu', '/') ?>.</li>
                <li>napisz do <?= $this->mailTo('tech@rebel.pl', 'działu IT') ?>.</li>
            </ul>
        </div>

    </div>
    <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
        <video id="gif-mp4" poster="https://media.giphy.com/media/CthsoZkmO8Lvy/200_s.gif"
               width="640" height="384" autoplay="autoplay" loop="loop">
            <source src="https://media.giphy.com/media/CthsoZkmO8Lvy/giphy.mp4" type="video/mp4">
        </video>
        </div>
    </div>
</div>