<?php
/** @var \Main\View\Base $this */
/** @var \Main\Model\Player $player */
$player = $this->player;
?>

<?php if (!empty($player)): ?>
    <?= $this->linkTo($this->t('Kontynuuj rozgrywkę...'), '/play', [ 'class' => 'btn btn-success' ]) ?>
    <?= $this->linkTo($this->t('Rozpocznij od nowa'), '/games/reset', [ 'class' => 'btn btn-primary' ]) ?>
<?php else: ?>
    <?= $this->linkTo($this->t('Rozpocznij nową grę'), '/games/start', [ 'class' => 'btn btn-primary flaticon-add' ]) ?>
<?php endif; ?>
