<?php
/** @var \Main\View\Base $this */
/** @var \Main\Model\Player $player */
$player = $this->player;
?>
<table class="table table-sm" id="assetsBuildings">
    <thead>
    <tr><th colspan="3"><?= $this->t('Budynki <small>(max. %d)</small>', $player->getBuildingLimit()) ?></th></tr>
    </thead>
    <tbody>
    <? foreach ($player->getAvailableBuildings() as $building): ?>
        <tr>

            <td style="text-align: center; width: 32px;" class="text-muted">
                <span data-toggle="tooltip-next" data-placement="right">
                <?= $building->canBeBuilt()
                    ? $this->linkTo($this->icon('add'), '/play/build?type=' . $building->getType())
                    : $this->icon('add') ?>
                </span>
                <div class="tooltip-html"><?= $this->_('price', $building) ?></div>
            </td>

            <td><?= $this->tag('span', [ 'title' => $this->t($building->getDescription()) ], $this->t($building->getName())) ?>:</td>
            <td style="text-align: right; white-space: nowrap"><?= $building->getAmount() ?></td>

        </tr>
    <? endforeach; ?>
    </tbody>
</table>