<?php
/** @var \Main\View\Base $this */
/** @var \Main\Model\Player\Event $event */
$event = $this->event;
if (empty($event)) {
    return false;
}
?>
<div class="card">
    <div class="card-body alert-danger">
        <div class="row">
            <div class="col">
                <h2 class="card-title"><?= $this->t($event->getName()) ?></h2>
                <p class="lead"><?= $this->t($event->getDescription()) ?></p>

                <?php if (!$event->isResolved() && $event->getType() == 'barbarians'): ?>
                    <?= $this->linkTo('Poświęć jednego wojownika', '/play/resolve?option=1', [ 'class' => 'btn btn-primary', ]) ?>
                    <?= $this->linkTo('Zaryzykuj starcie', '/play/resolve?option=2', [ 'class' => 'btn btn-primary', ]) ?>
                <?php elseif (!$event->isResolved() && $event->getType() == 'gameover'): ?>
                    <?= $this->linkTo('Zacznij od początku', '/games/reset', [ 'class' => 'btn btn-primary', ]) ?>
                <?php endif; ?>

            </div>
            <div class="col">
                <p><?= $this->image($event->getImage(), $event->getName(), [ 'style' => 'width: 100%' ])?></p>
            </div>
        </div>
    </div>

    <?php if ($event->isResolved()): ?>
        <div class="card-footer">
            <?= $this->linkTo('Przejdź do fazy akcji', '/play/resolve', [ 'class' => 'btn btn-primary', ]) ?>
        </div>
    <?php endif; ?>
</div>