<?php
/** @var \Main\View\Base $this */
/** @var \Main\Model\Player $player */
$player = $this->player;
?>
<table class="table table-sm" id="assetsTechnologies">
    <thead>
    <tr><th colspan="2"><?= $this->t('Dostępne technologie') ?></th></tr>
    </thead>
    <tbody>
    <?php foreach ($player->getAvailableTechnologies() as $technology): ?>
        <?php if ($technology->canBeDeveloped()): ?>
        <tr>

            <td>
                <?= $this->linkTo($this->t($technology), '/play/develop?type=' . $technology->getType(), [ 'title' => $this->t($technology->getDescription()) ]) ?><br />
                <?php if ($player->getActiveTechnology() === $technology): ?>
                    <div style="position: relative; margin-top: .3rem">
                        <?php $progress = $player->getSupplyByType('science')->productionAmount() / $technology->getPriceScience() * \Main\Model\Player\Technology::PROGRESS_FULL ?>

                        <div class="progress">

                            <?= $this->tag('div', [
                                'class' => 'progress-bar',
                                'style' => 'width: ' . ($technology->getProgress() / \Main\Model\Player\Technology::PROGRESS_FULL * 100) . '%',
                                'role' => 'progressbar',
                                'aria-valuenow' => $technology->getProgress(),
                                'aria-valuemin' => 0,
                                'aria-valuemax' => \Main\Model\Player\Technology::PROGRESS_FULL,
                            ], '') ?>

                            <?= $this->tag('div', [
                                'class' => 'progress-bar bg-info',
                                'style' => 'width: ' . ($progress / \Main\Model\Player\Technology::PROGRESS_FULL * 100) . '%',
                                'aria-valuenow' => $progress,
                                'aria-valuemin' => 0,
                                'aria-valuemax' => \Main\Model\Player\Technology::PROGRESS_FULL,
                            ], '') ?>

                        </div>

                    </div>
                <?php endif; ?>
            </td>

        </tr>
        <?php endif; ?>
    <?php endforeach; ?>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="2" class="small">(<?= $this->linkTo($this->t('zobacz wynalezione technologie'), '/play/technologies', [ 'class' => 'text-muted' ]) ?>)</td>
    </tr>
    </tfoot>
</table>