<?php
/** @var \Main\View\Base $this */
/** @var \Main\Model\Game\Server $server */
$server = $this->server;
$player = $server->getPlayer();
$technologies = $player->getDevelopedTechnologies();
?>
<small class="float-xl-right small">
    ( <?= $this->linkTo('wróc do rozgrywki', '/play') ?> )
</small>

<h1 class="mb-2">
    <?= $this->t('Wynalezione technologie') ?>
</h1>
<ul>
<?php foreach ($technologies as $technology): ?>
    <li>
        <p>
            <strong><?= $this->t($technology) ?></strong>
            <small class="text-muted"><?= $this->t($technology->getDescription()) ?></small>
        </p>

        <ul class="mb-1">
        <?php foreach ($technology->availableTechnologies() as $available): ?>
            <?php $asset = $player->getAssetByClass($available); ?>
            <li>
                <?= $this->t($asset) ?>
                <small class="text-muted"><?= $this->t($asset->getDescription()) ?></small><br />
            </li>
        <?php endforeach; ?>
        </ul>
    </li>
<?php endforeach; ?>
</ul>