<?php
/** @var \Main\View\Base $this */
$form = $this->createBootstrapForm($this->passwordForm);
?>

<h2 class="card-title">Zapomniałeś hasła?</h2>
<p class="card-text">Wpisz swój adres e-mail poniżej, a wyślemy Ci wiadomość
    z linkiem, kliknięcie w który umożliwi Ci ustawienie nowego hasła.</p>
<?= $form->errors() ?>
<?= $form->start() ?>

    <fieldset class="row">
        <?= $form->text('login', [ 'prepend' => $this->icon('user'), 'group_class' => 'col-xs-8' ]) ?>
        <?= $form->button('submit', [ 'button_class' => 'btn-success btn-block', 'group_class' => 'col-xs-4' ]) ?>
    </fieldset>

<?= $form->end() ?>