<?php
/** @var \Main\View\Base $this */
$form = $this->createBootstrapForm($this->form);
?>
<div class="card-group">
    <div class="card text-white bg-dark" style="background-color: #333; border-color: #333;">
        <div class="card-body">
            <h2 class="card-title">Podaj swój adres e-mail, aby odzyskać hasło</h2>
            <p class="card-text">Jeżeli adres należy do zarejestrowanego użytkownika, zostanie wysłana wiadomość z linkiem do zresetowania hasła.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">

            <h2 class="card-title">Odzyskiwanie hasła</h2>
            <?= $form->start() ?>
            <?= $form->errors() ?>

            <div class="form-row">
                <div class="col-8">
                    <?= $form->text('login', [ 'prepend' => $this->icon('user') ]) ?>
                </div>
                <div class="col-4">
                    <?= $form->button('submit', [ 'button_class' => 'btn-success btn-block' ]) ?>
                </div>
            </div>
            <?= $form->end() ?>

        </div>
    </div>
</div>